/* ======================================================
   Safe Together - Custom Styles
   ====================================================== */

/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary:#7c5cc4; 
    /* --primary:#E07A5F; */
    --primary-dark:#6546b3;
    --secondary:#5ca67b;
    --light:#f8f7fc;
    --white:#ffffff;
    --text:#444;
    --heading:#2d2d2d;
    --shadow:0 10px 30px rgba(0,0,0,.08);
}

/* ======== Global Styles ===========*/

   html{
    scroll-behavior:smooth;
}

body{
    font-family:'Roboto',sans-serif;
    color:var(--text);
    background:#fcfcfc;
    line-height:1.7;
}



/* ===========================
   Navigation
=========================== */

.navbar{
    padding:18px 0;
}

.navbar-brand{
    font-size:1.4rem;
}

.nav-link{
    font-weight:700;
    margin-left:15px;
    transition:.3s;
}

.nav-link:hover{
    color:var(--primary);
}

